
    .Text:hover{
        transition: ease-in-out 1s;
        font-size: 5em;
        margin-top: 5vw;
    }
    .Text:hover > .me>img{
        height: 10vh;
        border: 2px solid rgb(0, 251, 255);
    }
    .contacts img:hover{
        opacity: 1;
    }
    .artcon div:hover{
        z-index: 1;
    }
    .artcon>div:hover>img{
        transform: scale(1.5,1.5);
        transition: .3s transform;
    }
    .movcon div:hover{
        z-index: 1;
    }
    .movcon>div:hover>img{
        transform: scale(1.5,1.5);
        transition: .3s transform;
    }
    .gamecon div:hover{
        z-index: 1;
    }
    .gamecon>div:hover>img{
        transform: scale(1.5,1.5);
        transition: .3s transform;
    }
    .robocon div:hover{
        z-index: 1;
    }
    .robocon>div:hover>img{
        transform: scale(1.5,1.5);
        transition: .3s transform;
    }
    #box1:hover{
        margin-top: 10vh;
        margin-left: 20vw;
        box-shadow: 2px;
        transition: ease-in-out 2s; 
    }
    #box2:hover{
        margin-top: -10vh;
        margin-left: 15vw;
        box-shadow: 2px;
        transition: ease-in-out 2s; 
    }
    @keyframes anim{
        0% {
            opacity: 1;
        }
        50% {
            opacity: 0.3;
        }
        100% {
            opacity: 1;
        }
    }
    @keyframes col{
        0%{
            background-color: rgb(255, 80, 118);
        }
        10%{
            background-color: rgb(255, 127, 236);
        }
        20%{
            background-color: rgb(153, 127, 255);
        }
        30%{
            background-color: rgb(127, 219, 255);
        }
        40%{
            background-color: rgb(127, 255, 197);
        }
        50%{
            background-color: rgb(142, 255, 127);
        }
        60%{
            background-color: rgb(206, 255, 127);
        }
        70%{
            background-color: rgb(248, 189, 95);
        }
        80%{
            background-color: rgb(254, 110, 91);
        }
        90%{
            background-color: rgb(255, 140, 127);
        }
        100%{
            background-color: rgb(255, 127, 159);
        }
    }