body{
    padding: 0px;
    margin: 0px;
    font-family: 'Edu NSW ACT Foundation', cursive;
}
.container{
    padding-top: 40vh;
    text-align: center;
    background-image: url("https://img.freepik.com/free-vector/colourful-watercolour-texture_1048-11773.jpg?w=360");
    background-attachment: fixed;
    background-size: 100% ;
}
.me>img{
    height: 0vh;
    transition: ease-in-out 2s;
    border-radius: 50%;
   
}
.Text{
    padding-bottom: 40vh;
    font-size: 4em;
    color: rgb(47, 45, 179);
    transition: ease-out .5s;
}
.dev{
    font-size: 8mm;
    color: rgb(18, 168, 25);
}
.bar{
    height: 10vh;
    background-color: rgba(145, 255, 0,0.8);
    margin: 0px;
    padding-left: 10vw ;
    padding-right: 10vw;
    list-style: none;
    display: flex;
    justify-content: center;
    text-align: center;
    position: sticky;
    top: 0px;
    z-index: 2;
}
hr{
    visibility: hidden;
}
nav a{
    justify-content: center;
    color: rgb(72, 21, 212);
    text-decoration: none;
    font-size: 12mm;
}
.content{
    background-image: url("https://img.freepik.com/free-vector/hand-painted-watercolor-abstract-watercolor-background_23-2149012404.jpg?w=2000");
    height: 100vh;
    background-size: cover;
    background-attachment: fixed;
}
.about{
    text-align: center;
    font-size: 20mm;
    
}
#box1{
    background-color: rgba(104, 205, 50, 0.481);
    margin-left: 5vw;
    height: 15vh;
    width: 60vw;
    border: 3px solid rgb(132, 0, 255); 
    border-radius: 12px;
    font-size: 6mm;
    transition: ease-out .5s;
}
#box2{
    background-color: rgba(0, 255, 208, 0.452);
    margin-left: 30vw;
    height: 15vh;
    width: 60vw;
    border: 3px solid rgb(255, 115, 0);
    border-radius: 12px;
    font-size: 6mm;
    transition: ease-out .5s;
}
.hobby{
    background-image: url("https://thumbs.dreamstime.com/b/vector-hobby-pattern-hobby-seamless-background-vector-illustration-vector-hobby-pattern-hobby-seamless-background-113988843.jpg");
    height: 180vh;
}
#hobhead{
    font-size: 20mm;
    text-align: center;
    margin: 10px 500px;
    animation: col 2s infinite;
}
.hob{
    margin: 0px;
    padding: 0px;
    font-size: 15mm;
    display: inline-block;
    animation: col 2s infinite;
}
.artcon{
    animation: col 3s infinite;
}
.artcon>div{
    height: 40vh;
    position: relative;
    float: left;
}
#ag,#as,#cc{
    width: 20vw;
}
#ap,#va,#wp{
    width: 10vw;
}
.artcon>div>img{
    display: block;
    transition: .1s transform;
    transform: translateZ(0);
}
.artcon p{
    font-size: 8mm;
}
.paint{
    margin: 5px;
    height: 30vh;
    display: inline-block;
}
.movcon{
    animation: col 3s infinite; 
}
.movcon>div{
    position: relative;
    float: left;
}
.movcon>div>img{
    display: block;
    transition: .1s transform;
    transform: translateZ(0);
}
.movcon p{
    font-size: 8mm;
}
.movie{
    margin: 10px 22px;
    height: 40vh;
    display: inline-flexbox;
}
.project{
    background-image:url("https://img5.goodfon.com/wallpaper/nbig/d/11/background-design-poly-vektor-abstraktsiia-oka-project-golub.jpg") ;
    height: 120vw;
    background-size: cover;
}
#projhead{
    font-size: 20mm;
    text-align: center;
}
.project p{
    font-size: 6mm;
}
.project ul li{
    font-size: 10mm;
}
.project ul p{
    font-size: 5mm;
}
.gamecon>div{
    position: relative;
    float: left;
}
.gamecon>div>img{
    display: block;
    transition: .1s transform;
    transform: translateZ(0);
}
.games{
    margin: 2.8px;
    height:22vh;
}
.robocon>div{
    position: relative;
    float: left;
    margin: 2px;
}
.robocon>div>img{
    display: block;
    transition: .1s transform;
    transform: translateZ(0);
}
.pp{
    display: inline-flex;
    font-size: 6mm;
}
.project>ul>p{
    font-size: 10mm;
}
.arm{
    height: 40vh;
    margin: 4px;
}
.arm2{
    height: 50vh;
    margin-left: 8vw;
}
#sm{
    height: 40vh;
    background-color: rgb(3, 3, 67);
    text-align: center;
    color: aliceblue;
}
.contacts{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    gap: 1em;
}
#sm h1{
    animation: anim 2s infinite;
}
.contacts img{
    opacity: 0.7;
}
.cont{
    height: 10vh;
}